<%- include('./partials/head') %>

<section id="begin">
  <h1 class="text" id="teaser">Waarom een site als dit<br><a href="#main">⬇️</a></h1>
</section>

<div class="container">
  <section id="main">
      <h1 class="text" id="reveal">Als het ook zo kan</h1>
      <h2 class="text" id="name">Seijno van Nieuwkoop</h2>
      <a class="text" href="#info"><div id="knopje"><p class="margin">Meer over mij</p></div></a>
      <img class="revealing-image" src="img/hallen.png">
      <a><div class="example revealing-image"><p class="text" style="margin-top: 15%;">Uw site</p></div></a>
  </section>

  <section class="promo">
    <div class="containers">
      <img class="revealing-image" src="img/front.png">
      <img class="revealing-image" src="img/grrr.png">
    </div>
  </section>
  <section id="info">
    <h2>Feitjes over mij</h2>
    <ul class="cards">
      <li>
        <p>Introductie: Ik ben Seijno Van Nieuwkoop ik ben 19 jaar en studeer aan de hoge school van amsterdam als frontender. </p>
      </li>
      <li>
        <p>Naam: Seijno van Nieuwkoop</p>
      </li>
      <li>
        <p>Naam: Seijno van Nieuwkoop</p>
      </li>
      <li>
        <p>Naam: Seijno van Nieuwkoop</p>
      </li>
      <li>
        <p>Naam: Seijno van Nieuwkoop</p>
      </li>
      <li>
        <p>Naam: Seijno van Nieuwkoop</p>
      </li>
      <li>
        <p>Naam: Seijno van Nieuwkoop</p>
      </li>
  </ul>
  </section>
</div>
<%- include('./partials/foot') %>
